@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;0,900;1,600&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

body,
h1,
.title p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    box-shadow: 0 5px 5px rgb(207, 207, 207); 
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
}

h1 {
    font-weight: 800;
    color: rgb(255, 217, 0);
    margin-left: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-weight: 600;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.menu-item {
    color: rgb(255, 177, 8);
}

.menu-item:hover {
    font-weight: 900;
}

.main-footer-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110px;
    z-index: 1;
}

section {
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgb(255, 177, 8);
    border: 0;
    width: 150px;
    height: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    font-size: 40%;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

/*------------------------------ PRESENTATION-----------------------------*/

#presentation {
    height: 84vh; /*550px*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin-left: 100px;
}

h2 {
    color: rgba(0, 0, 0, 0.719);
}

#presentation img {
    border: solid 1px;
    width: 500px;
    height: 500px;
    margin-right: 100px;
    border-radius: 50px;
}

#presentation .container {
    font-size: 40px;
    max-width: 40%;
}

.separator {
    height: 300px;
}

/*---------------------------------------FIRST SEPARATOR----------------------------------*/
#first-separator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#first-separator :first-child {
    background-color: rgb(255, 177, 8);
}

#first-separator :nth-child(2) {
    background-color: rgb(250, 206, 11);
}

#first-separator :nth-child(3) {
    background-color: rgb(255, 217, 0);
}

/*--------------------------------------- SECTIONS ----------------------------------*/

.section-title {
    font-size: 20px;
    color: rgb(255, 177, 8);
    font-weight: bold;
}

.section-title,
.section-text {
    margin: 0;
    width: 50%;
    text-align: justify;
}

.section-text {
    font-weight: 300;
    font-size: 24px;
    color: rgb(104, 104, 104);
}

/*--------------------------------------- PROFILE ----------------------------------*/

#profile {
    height: 400px;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------- SKILLS ----------------------------------*/
#skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
}

#skills > :first-child,
#skills > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills h2,
#skills ul {
    max-width: 260px;
}

/*--------------------------------------- SECOND SEPARATOR ----------------------------------*/

#second-separator {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.cell {
    background-color: rgb(245, 245, 245);
}

.orange:hover {
    background-color: rgb(255, 177, 8);
}

.orange-yellow:hover {
    background-color: rgb(250, 206, 11);
}

.yellow:hover {
    background-color: rgb(255, 217, 0);
}

/*-------------------------------------EDUCATION & CERTIFICATES-----------------------------------*/

#education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#education > :first-child,
#education > :nth-child(2) {
    padding-top: 1.5em;
    padding-left: 1.5em;
}

#education > :first-child .section-title,
#education > :first-child .section-text,
#education > :nth-child(2) .section-title,
#education > :nth-child(2) .section-text {
    min-width: 100%;
}

/*-------------------------------------FOOTER-----------------------------------*/